@font-face {font-family: 'FuturaBT-Book';src: url('/1385E0_0.eot');src: url('/1385E0_0.eot?#iefix') format('embedded-opentype'),url('/1385E0_0.woff') format('woff'),url('/1385E0_0.ttf') format('truetype'),url('/1385E0_0.svg#wf') format('svg');}
@font-face {font-family: 'FuturaBT-BoldItalic';src: url('EC84F_3.eot');src: url('EC84F_3.eot?#iefix') format('embedded-opentype'),url('EC84F_3.woff') format('woff'),url('EC84F_3.ttf') format('truetype'),url('EC84F_3.svg#wf') format('svg');}
 @font-face {font-family: 'TangerSerifWide-Regular';src: url('/1385E0_2.eot');src: url('/1385E0_2.eot?#iefix') format('embedded-opentype'),url('/1385E0_2.woff') format('woff'),url('/1385E0_2.ttf') format('truetype'),url('/1385E0_2.svg#wf') format('svg');}

body, html {
    background: #fff;
    height: 100%;
}

a[href^="http:"]::after {
    margin-left: 0;
    content: "";
    opacity: 1;
}

body.loading {
    background-image: url('ajax-loader.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

h1 {
    border-top: 2px solid #ff0;
    padding: 13px 119px 10px 119px;
    box-shadow: 0 2px 6px #959595;
    color: #fff;
    background-color: #000;
    font: normal 17px "FuturaBT-Book", sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#arroz {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}
body.circleHate #arroz {
    display: block;
}

#content {
    padding: 0 119px;
}

body.loading h2 {
    display: none;
}
h2 {
    margin: 36px 0 8px 0;
    font: lighter 13px "FuturaBT-Book", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#addPlaylist {
    display: none;
    float: right;
}
ul#jamList {
    margin-top: 15px;
}
ul#jamList li {
    width: 100%;
    float: left;
    border-top: 1px solid #eee;
}
ul#jamList div.jam {
    padding: 18px 0 3px 274px;
}

ul#jamList .sp-player {
    float: left;
    margin: 0 0 15px -274px;
}

ul#jamList a.user {
    font: normal 15px/1.3em "TangerSerifWide-Regular", "Cambria", "Georgia", serif;
    color: #827B00;
}
ul#jamList a.user:hover {
    color: #635D00;
}

ul#jamList a.trackLink {
    margin: 10px 0;
    font: italic 18px/24px "FuturaBT-BoldItalic", sans-serif;
}
ul#jamList a.trackLink span.track {
    color: #000;
}
ul#jamList a.trackLink span.artist {
    color: #898989;
}

ul#jamList a.trackLink:hover,
ul#jamList a.trackLink:hover span {
    color: #827B00;
}

ul#jamList span.playcount {
    padding: 3px 6px 4px 4px;
    font: normal 11px/24px "FuturaBT-Book", "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.sp-player {
    position: relative;
}
.arrow {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('arrow.png');
    width: 256px;
    height: 256px;
}

body.circleHate .arrow {
    display: block;
}

#circleHate {
    display: none;
    padding: 20px 0;
}

#iHateCircles {
    -webkit-appearance: checkbox;
}